*{
    z-index: 1;
}

body {
    background-color: rgb(29, 29, 29);
    color: white;
}

header{
    font-size: 62px;
    font-style: oblique;
    text-align: center;
}

img.rain {
    position: fixed;
    left: 0;
    bottom: 0;
    transform: scale(10%);
    z-index: 0;
}